%h1 t('.list_t')
.container
  %table
    %thead
      %tr
        %th League
        %th Name
        %th Points
    %tbody
      - @teams.each do |team|
        %tr
          %td= team.league.title
          %td= team.name
          %td= team.points
          %td= link_to t('show'), team
          %td= link_to t('edit'), edit_team_path(team)
          %td= link_to t('destroy'), team, method: :delete, data: { confirm: t('confirm') }

  %br

  = link_to t('.new_t'), new_team_path
