%p#notice= notice
.container
  %p
    %b League:
    = @team.league.title
  %p
    %b Name:
    = @team.name
  %p
    %b Points:
    = @team.points
  %p= link_to t('.new_f'), new_fixture_path(team_id: @team)
  = link_to t('edit'), edit_team_path(@team)
  \|
  = link_to t('back'), teams_path
