%p#notice= notice
.container
  %p
    %b= @league.title
  %p t('.team_title')
  %table
    %tbody
      - @league.teams.each do |team|
        %tr{id: "team_#{team.id}"}
          %td= team.name
          %td= team.points
          %td= link_to t('show'), team
          %td= link_to t('edit'), edit_team_path(team)
          %td= link_to t('destroy'), team, :method => :delete, :data => { :confirm => t('confirm')}, :remote => true
  %p= link_to t('.add_team'), new_team_path(league_id: @league)
  = link_to t('edit'), edit_league_path(@league)
  \|  
  = link_to t('back'), leagues_path
