%h1 t('list_f')
.container
  %table
    %thead
      %tr
        %th Team
        %th Score
        %th Opponent
    %tbody
      - @fixtures.each do |fixture|
        %tr
          %td= fixture.team.name
          %td= fixture.score
          %td= fixture.opponent
          %td= link_to t('show'), fixture
          %td= link_to t('edit'), edit_fixture_path(fixture)
          %td= link_to t('destroy'), fixture, method: :delete, data: { confirm: t('confirm') }

  %br

  = link_to t('.new_f'), new_fixture_path
