%nav.topnav
    %ul
        %li
            = link_to t('nav1'), leagues_url
        %li
            = link_to t('nav2'), teams_url
        %li
            = link_to t('nav3'), fixtures_url
        %li
            = link_to t('nav4'), contact_url
            
            
            
- flash.each do |key,value|
    = content_tag :div, content_tag(:p, value), id: "#{key}" unless value.blank?
    
